doctype html
html(lang=en)
  head
    title Hello PUG
    link(
      rel='stylesheet'
      type='text/css'
      href='./assets/css/index.css'
    )
  body
    div(style={
      width: "500px",
      margin: "0 auto"
    })
      h1 Hello, PUG.
      p It's much easier than html
      br
      h2 Package
      p To use pug in your javascript projects:
      blockquote.quoteStyle npm install pug
      br
      h2 Command Line
      p After installing Node.js, install with
      blockquote.quoteStyle npm install pug
      br
      h3 Help
      blockquote.quoteStyle pug --help / -h
